body {
    background: #00274c;
    color: white;
    display: none;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    z-index: 0;
}
header {
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
#view {
    position: relative;
    top: 100px;
}
#library {
    width: 100%;
    text-align: center;
}
#player {
    display: none;
}
input, select {
    background: #00274c;
    border: 2px solid #ffcb05;
    border-radius: 5px;
    color: white;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
}
h1, h2 {
    margin: 30px;
    text-align: center;
}
h3 {
    margin: 30px;
}
img {
    display: block;
}
video {
    border: 8px outset #ffcb05;
    display: block;
    margin: 20px auto;
}
.video {
    background: white;
    border-radius: 10px;
    color: #00274c;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2vw;
    line-height: 100px;
    margin: 1.5%;
    text-align: center;
    text-decoration: none;
    transition: background 0.5s;
    height: 100px;
    width: calc(100% / 4);
    vertical-align: top;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.preview {
    background: #fae7b5; /* banana mania */
}
a:hover, .video:hover {
    background: #ffcb05;
}
.button {
    background: #ffcb05;
    cursor: pointer;
    color: #00274c;
    padding: 10px;
    text-align: center;
    transition: background 1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 150px;
}
.button:hover {
    background: white;
}
.button.selected {
    background: white;
}
.button.selected:hover {
    background: #ffcb05;
}
#title:hover {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#message {
    display: none;
    font-size: 1.5em;
    margin: 80px auto;
    text-align: center;
    width: 90%;
}
#back {
    margin: 30px auto;
}
header .button {
    border-radius: 10px;
    font-size: 0.8em;
    padding: 7px;
    position: absolute;
    top: 20px;
    width: 100px;
}
/*noinspection CssUnusedSymbol*/
header #upload {
    right: 140px;
}
header #manage {
    right: 140px;
}
/*noinspection CssUnusedSymbol*/
header #logout {
    right: 20px;
}
header #new {
    left: 20px;
}
header #current {
    font-size: 0.8em;
    position: absolute;
    top: 35px;
    left: 160px;
}
#timer {
    position: absolute;
    top: 20px;
    left: 200px;
    z-index: 999;
    display: none;
}

/* Create New User page */
#createNew {
    /*border: 6px outset gold;*/
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 500px;
}
#createNew label {
    display: block;
    margin: auto;
    width: 215px;
}
#createNew input, #createNew select {
    display: block;
    margin: 5px auto 20px auto;
}
#createNew .button {
    margin: 30px auto;
}
#uploadContainer {
    border: 6px solid white;
    margin: 20px auto;
    width: 600px;
}
#uploadForm {
    /*margin-left: 620px;*/
    display: inline-block;
    padding: 20px;
    width: 300px;
}
#uploading {
    display: inline-block;
    bottom: 50px;
    right: 40px;
    transform: scale(0.92);
}
#uploadForm label {
    display: block;
    /*margin-left: 130px;
    margin: auto;
    width: 215px;*/
}
#uploadForm input, #uploadForm select {
    display: block;
    /*margin: 5px auto 20px auto;*/
    margin: 5px 0 20px 0;
}
#uploadForm .button {
    /*margin: 30px auto;*/
    margin-bottom: 30px;
}
#uploadForm input[type=number] {
    text-align: center;
}
#uploadForm #videoUpload {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#uploadForm #chooseVideo {
    border-radius: 10px;
    width: 200px;
    max-width: 450px;
}
#uploadForm #authLevel {
    /*margin-left: 150px;*/
}
#options {
    margin: auto;
    text-align: center;
    width: 350px;
}
#options .button {
    display: inline-block;
    margin: 5px 0;
    padding: 5px;
    width: 135px;
}
#options .button:hover {
    background: white;
}
#options .button#viewManage {
    display: block;
    margin: auto;
    padding: 10px 5px;
    width: 285px;
}

/*----------------------------------------*/
/* Table Structure */
/*----------------------------------------*/
.table {
    display: table;
    margin: 50px auto;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 5px;
}
.hcell {
    display: table-cell;
    color: #ffcb05;
    font-weight: bold;
}
.cell {
    transition: background 0.3s, color 0.3s;
}
.cell label {
    margin-right: 10px;
}
.cell input, .cell select {
    border-radius: 5px;
    width: 200px;
}
.table {
    margin: auto;
    max-width: 90%;
}
.hcell {
    border-bottom: 2px solid #ffcb05;
    font-size: 0.8em;
    padding: 10px 25px;
}
.cell {
    border-bottom: 1px solid #ffcb05;
    padding: 15px 10px;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
.row:hover .cell {
    background: #ffcb05;
    color: #00274c;
}