.testing {
    display: none;
}

/*
div {
    border: 1px solid white;
}*/
#timer {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
}
body {
    display: none;
    margin-bottom: 100px;
    padding-bottom: 50px;
    z-index: 1;
}
header {
    background: #00274c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
header img {
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
header ul#topNav {
    background: #333;
    background: #00274c;
    border-bottom: 2px solid white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header ul#topNav li {
    /*border: 2px solid transparent;*/
    float: left; /* Nav Button Alignment */
    cursor: pointer;
}
header ul#topNav li span {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ul#topNav li:not(.noNav) span:hover { background-color: #8e939d; }
ul#topNav li.noNav span { color: #ffcb05; }
ul#topNav li#navTitle { font-weight: bold; }
ul#topNav li#currentUser { float: right; }
ul#topNav li#logOut { float: right; }
ul#topNav li#menuIcon { display: none; }
ul#topNav li.selected {
    background-color: #444c5c;
    /*border: 2px solid white;*/
}
form {
    width: 600px;
    margin: 100px auto;
}
form > div {
    display: inline-block;
    text-align: center;
    width: 100%;
}
form > div > div { /* Check-In Button */
    display: inline-block;
    text-align: center;
    width: calc(100% / 2);
}
body, input, select {
    background: #00274c;
    color: white;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-weight: bold;
    z-index: 0;
}
h1, h2 {
    margin: 50px;
    text-align: center;
}
input, select, #submitForm, .button {
    border: 2px solid #ffcb05;
    border-radius: 5px;
    font-size: 30px;
    display: block;
    margin: 20px auto;
    padding: 15px;
    /*text-align: left;*/
    width: 250px;
}
select {
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}
label {
    display: block;
    font-size: 30px;
    margin: auto;
    margin-top: -50px;
    opacity: 0.6;
    position: relative;
    top: 73px;
    width: 300px;
    transition: all 0.2s ease;
}
label:hover {
    cursor: text;
}
label[for=addInfo] {
    transition: color 0s;
}
#decoy {
    border: none;
    color: transparent;
    width: 10px;
}
#addInfo {
    text-align: center;
    text-indent: 0;
}
#nameInfo > div {
    display: inline-block;
}
#nameInfo > div:nth-child(2n):not(#submitForm) {
    float: right;
}
.toggle-label {
    float: left;
    font-size: 1.7em;
    left: 115px;
    position: relative;
    top: 40px;
}
#nameInfo > .button {
    display: block;
    margin-top: 140px;
}
#nameInfo #reason {
    margin-top: 0;
    width: 300px;
}
.switch {
    display: block;
    position: relative;
    width: 100%;
}
.switch > div:first-child {
    font-size: 1.5em;
    position: relative;
    top: 10px;
}
.toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.toggle + label {
    display: block;
    position: relative;
    left: 125px;
    cursor: pointer;
    opacity: 1;
    outline: none;
    user-select: none;
}
#meetingInfo {
    margin-bottom: 30px;
    position: relative;
    top: 85px;
}
#meetingInfo > input {
    width: 400px;
}

/*----------------------------------------*/
/* Table Structure */
/*----------------------------------------*/
.table {
    display: table;
    margin: 50px auto;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 5px;
}
.hcell {
    display: table-cell;
    color: #ffcb05;
    font-weight: bold;
}
.cell {
    transition: background 0.3s, color 0.3s;
}
.cell label {
    margin-right: 10px;
}
.cell input, .cell select {
    border-radius: 5px;
    width: 200px;
}

/*----------------------------------------*/
/* Buttons */
/*----------------------------------------*/
#report, #closeReport {
    background: #00274c;
    cursor: pointer;
    font-size: 40px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 1%;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 3;
}
#return {
    background: #ffcb05;
    color: #00274c;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    padding: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    user-select: none;
    width: 250px;
}
input[type=button],
input[type=submit],
#submitForm, .button {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    margin: 20px auto 30px auto;
    width: 200px;
    background: #ffcb05;
    color: #00274c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form#downloadReport input[type=button] {
    display: block;
    margin: auto;
    text-indent: 0;
}
#submitForm {
    padding: 20px;
    position: relative;
    top: 55px;
    width: 350px;
}
input[type=button].detailsButton {
    background-color: #0f345e;
    border-color: white;
    color: white;
    font-size: 0.8em;
    margin: 0;
    padding: 5px 3px;
    width: 150px;
}

/*----------------------------------------*/
/* Visitors Table */
/*----------------------------------------*/
.tableTitle {
    font-size: 2em;
    text-align: center;
    user-select: none;
}
#viewVisitors {
    margin-top: 90px;
}
#viewVisitors * {
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
#viewVisitors .table {
    font-size: 1.5vw;
    margin: auto;
    max-width: 90%;
    min-width: 550px;
}
#viewVisitors hr {
    margin-top: 20px;
    opacity: 0.4;
    width: 70%;
}
#fixedHeader {
    position: fixed;
    display: none;
    right: 50%;
    margin-right: 50%;
}
#viewVisitors .hcell {
    border-bottom: 2px solid #ffcb05;
    font-size: 0.8em;
    user-select: none;
    -webkit-user-select: none;
    padding: 10px 25px;
}
#viewVisitors .cell {
    border-bottom: 1px solid #ffcb05;
    line-height: 28px;
    padding: 15px 20px;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}
#viewVisitors .cell.reason { /* Reason */
    max-width: 250px;
}
#viewVisitors .cell.appointment { /* Reason */
    text-align: center;
}
.time { /* Times */
    text-align: center;
}
#viewVisitors .row:hover:not(.noHover) .cell {
    background: #ffcb05;
    color: #00274c;
    cursor: pointer;
}
#viewVisitors .row:hover.noHover .cell { cursor: default; }
#viewVisitors .row.selected {
    background: #ffcb05;
    font-weight: bold;
    color: #00274c;
}
#viewVisitors h1 {
    font-size: 4vw;
    color: #ffcb05;
}
#viewVisitors h2 {
    margin: 20px auto 0px auto;
}
#viewVisitors .row.ui-draggable-dragging {
    background: #ffcb05;
    cursor: none;
}
#viewVisitors .tableContainer.ui-droppable {
    border: 3px inset transparent;
    margin: auto;
    padding: 30px;
    width: 55%;
}
#viewVisitors .tableContainer.ui-droppable.pickMe {
    background: dodgerblue;
    background-color: #33658A;
    border: 3px inset ghostwhite;
}
#viewVisitors .tableContainer.ui-droppable.almostHaveIt {
    background: #2F4858;
}
#cancel {
    background: red;
    border: 2px solid red;
    border-radius: 10px;
    color: white;
    display: inline-block;
    width: 100px;
}
#thankYou {
    background: #00274c;
    /*border: 6px solid #ffcb05;*/
    bottom: 550px;
    display: none;
    margin: auto;
    padding: 90px 50px 170px 50px;
    position: relative;
    width: 700px;
}
#thankYou h1 {
    font-size: 42px;
    margin-top: 0;
}
.disabled {
    opacity: 0.8;
}
.textIndent {
    text-indent: 75px;
}
.smoothness {
    transition: all 0.2s ease-in-out;
}
#theWall {
    background: black;
    height: 120%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.popup > div:first-child {
    background: #DDDDDC;
    border: 3px solid white;
    height: 200px;
    left: 0;
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    position: fixed;
    right: 0;
    width: 50%;
    z-index: 4;
}
.popup > div:first-child, #visitDetails h3 {
    color: #00274c;
    font-size: 20px;
}
.popup#checkinNotification > div:first-child {
    background: #ffcb05;
    height: auto;
}
.popup > div:first-child h2 {
    font-size: 1.5em;
    margin: auto;
}
.popup > div:first-child textarea {
    display: block;
    margin: 20px auto;
    width: 90%;
}
.popup > div:first-child #buttonContainer {
    margin: auto;
}
.popup > div:first-child input[type=button] {
    font-size: 16px;
    margin: 0 20px;
    width: 100px;
}
#visitDetails {
    background: #DDDDDC;
    border: 3px solid white;
    height: 500px;
    left: 0;
    margin: auto;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    position: fixed;
    right: 0;
    width: 50%;
    z-index: 4;
}
#visitDetails h2 {
    color: #00274c;
    font-size: 2em;
    margin: 10px auto;
    text-decoration: underline;
}
#visitDetails .table {
    color: #00274c;
    font-size: 1.5em;
    margin: 0;
}
#visitDetails .table .row .cell {
    padding: 0 7px 30px 7px;
}
#visitDetails .table .row .cell.label {
    color: #0f345e;
    font-size: 1em;
    width: 45%;
}
#visitDetails .table .row .cell.value {
}
/*----------------------------------------*/
/* Reporting */
/*----------------------------------------*/
form#downloadReport label {
    font-size: 24px;
    top: 30px;
    width: 225px;
}
form#downloadReport input[type=date] {
    margin: 35px auto;
}

/*----------------------------------------*/
/* Media Queries */
/*----------------------------------------*/
@media screen and (max-width: 555px) {
    body { /*border: 3px solid gold;*/
    }
    img {
        width: 250px !important;
    }
    #screensaver h1 {
        font-size: 8vw;
    }
    #screensaver h2 {
        font-size: 6vw;
        top: 33%;
    }
    form {
        width: 100%;
    }
    form > div > div {
        width: 100%;
    }
    form > .table .cell {
        display: block;
    }
    .hcell {
        display: none;
    }
    #results .row {
        border: 2px solid #ffcb05;
        display: block;
    }
    #results .cell:nth-child(3) {
        display: block;
    }
    #nameInfo > div {
        display: block;
    }
    #nameInfo > div:nth-child(2n):not(#submitForm) {
        /*float: none;*/
    }
}
@media screen and (max-width: 955px) {
    ul#topNav li:not(:first-child) { display: none; }
    ul#topNav li#menuIcon {
        float: right;
        display: inline-block;
    }
    ul#topNav.responsive { position: relative; }
    ul#topNav.responsive li#menuIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul#topNav.responsive li {
        float: none;
        display: inline;
    }
    ul#topNav.responsive li span {
        display: block;
        text-align: left;
    }
    ul#topNav.responsive li#logOut { float: none; }
}

/*----------------------------------------*/
/* Hacksors - Nobody's Perfect */
/*----------------------------------------*/
select::-ms-expand {
    display: none;
}
.span2 {
    width: 100%;
}