#mapPopup {
    position: absolute;
    top: 130px;
    left: 20%;
}
#closeMap {
    background: white;
    border: 3px solid #ffcb05;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #00274c;
    cursor: pointer;
    font-size: 1.2em;
    left: 625px;
    padding-right: 20px;
    position: relative;
    text-align: right;
    top: 5px;
    width: 80px;
    z-index: 101;
}
#parking-map {
    background: white center no-repeat;
    background-size: contain;
    border: 3px solid #ffcb05;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 708px;
    height: 505px;
    z-index: 100;
}
#parking-map > .area {
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    width: 85px;
    height: 32px;
    background: #00274c;
    opacity: 0.3;
}
#parking-map > .area:hover {
    cursor: pointer;
    opacity: 0.7;
}
#parking-map.huron {
    background-image: url("../img/huron_parking.png");
}
.huron #area29 {
    left: 125px;
    top: 132px;
    width: 85px;
}
.huron #area26 {
    left: 125px;
    top: 233px;
    width: 85px;
}
.huron #area25 {
    left: 125px;
    top: 266px;
    width: 85px;
}
.huron #area99 {
    left: 125px;
    top: 504px;
    width: 85px;
}
.huron #area1 {
    right: 221px;
    top: 352px;
    width: 89px;
}
.huron #area2 {
    right: 221px;
    top: 385px;
    width: 89px;
}
.huron #area3 {
    right: 221px;
    top: 419px;
    width: 89px;
}
.huron #area4 {
    right: 221px;
    top: 453px;
    width: 89px;
}
.huron #area5 {
    right: 221px;
    top: 486px;
    width: 89px;
}
.huron #area97 {
    right: 221px;
    top: 243px;
    width: 110px;
    height: 37px;
}
.huron #area98 {
    right: 221px;
    top: 308px;
    width: 110px;
    height: 41px;
}
.huron #area90 {
    right: 10px;
    top: 450px;
    width: 110px;
    height: 60px;
}
#parking-map.huron label {
    color: #00274c;
    font-size: 12px;
    position: absolute;
    left: 240px;
    top: 515px;
}
.left-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #00274c;
    position: absolute;
}
#parking-map.huron .left-arrow {
    left: 220px;
    top: 510px;
}