#screensaver {
    background: #00274c;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 9999;
}
@keyframes animateBorder {
    to {
        outline-color: #00274c;
        box-shadow: 0 0 0 6px #ffcb05;
    }
}
#screensaver h1 {
    font-size: 72px;
    font-size: 8vw;
    position: relative;
    margin: 0 auto;
    top: 25%;
}
#screensaver h2 {
    color: #ffcb05;
    font-size: 40px;
    font-size: 4vw;
    position: relative;
    top: 40%;
    /*top: 15%;*/
}
#screensaver img {
    display: block;
    display: none;
    margin: 70px auto;
    width: 300px;
}
#tap-anywhere, #tap-anywhere2 {
    transition: color 3s;
}