body {
    /*background: #565656;*/
    background: #00274c;
    color: white;
}
div {
    margin: 5px;
    padding: 5px;
}
h1 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 9vw;
    margin: 30px auto;
    text-align: center;
}
img {
    /*border: 4px solid black;*/
    border: 4px solid transparent;
    border-radius: 10px;
    display: inline-block;
    height: 100%;
    margin: 15px 10px;
    opacity: 0.5;
    position: relative;
    top: 0;
    transition: all 0.5s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    width: 30%;
}
img:hover:not(.selected) {
    /*background-color: dodgerblue;*/
    cursor: pointer;
    /*opacity: 0.8;*/
    opacity: 1;
    /*transform: scale(1.1);*/
}
img.selected {
    /*border: 4px solid #ffcb05;*/
    opacity: 1;
}
img#positive {
    transition: transform 1s, opacity 1s;
}
img#neutral {
    transition: transform 1s, filter 15s, opacity 1s;
}
img#negative {
    transition: transform 1s, opacity 1s;
}
img.selected#positive {
    /*transform: rotate(-360deg) scale(1.3);*/
    transform: scale(1.1);
}
img.selected#neutral {
    /*filter: hue-rotate(1260deg);*/
    transform: scale(1.1);
}
img.selected#negative {
    /*transform: rotateY(2160deg) scale(1.3);*/
    transform: scale(1.1);
}
#container {
    margin: auto;
}
#satisfactionImages {
    display: flex;
    justify-content: center;
}
#selectedLabel {
    font-size: 4vw;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
#surveySubmit {
    /*background: #0078ff;*/
    background: #ffcb05;
    /*border: 6px outset #444c5c;*/
    border-radius: 10px;
    /*color: white;*/
    color: #00274c;
    cursor: pointer;
    display: block;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 7vw;
    margin: 35px auto;
    padding: 20px 0;
    text-align: center;
    transition: ocpacity 0.5s ease-in-out;
    user-select: none;
    width: 40%;
}
#surveySubmit:active,
#surveySubmit:focus {
    /*border: 6px inset #444c5c;*/
}
#surveySubmit:disabled {
    opacity: 0.4;
}
#feedbackMessage > h1 {
    font-size: 8vw;
    margin-top: 150px;
}
#feedbackMessage > h1 > div {
    /*color: #00274c;*/
    color: white;
    display: inline;
    margin: 0;
}
#feedbackMessage > h1 > span {
    color: #ffcb05;
}
.transparentText {
    color: transparent;
}

/* Animations */
@keyframes selectedAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
@-webkit-keyframes selectedAnimation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}