body {
    background-color: #302B27;
    color: #576CA8;
    color: #dfdfde;
    font-family: sans-serif;
    font-size: 2.5vw;
}
h1, h3, h5 {
    text-align: center;
}
h1 {
    font-size: 5vw;
}
h5 {
    font-size: 12px;
}
form {
    border: 3px dashed grey;
    margin: 70px auto;
    padding: 30px;
    width: 500px;
}
label {
    font-size: 20px;
}
#message {
    /*font-size: 16px;*/
    font-size: 1.7vw;
}
.table {
    display: table;
    margin: 50px auto;
    min-width: 85%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 10px;
}
.hcell {
    display: table-cell;
    color: #8090a1;
    font-weight: bold;
    border-bottom: 2px solid #8090a1;
    margin-bottom: 10px;
    padding: 10px;
}
.cell {
    transition: background 0.3s, color 0.3s;
}
.cell label {
    margin-right: 10px;
}
.cell input, .cell select {
    border-radius: 5px;
    width: 200px;
}
.row.selected .cell {
    color: white;
}
.time, .username {
    text-align: center;
}
.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}
.unlock {
    background-color: #0078ff;
    border-radius: 3px;
    color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}
.unlock:hover {
    background-color: #449d75;
}