body {
    background-color: #302B27;
    color: #576CA8;
    color: #dfdfde;
    font-family: sans-serif;
    font-size: 2.5vw;
}
h1, h3, h5 {
    text-align: center;
}
h1 {
    font-size: 5vw;
    transition: all 0.3s;
}
h5 {
    font-size: 12px;
}
form {
    border: 3px dashed grey;
    margin: 70px auto;
    padding: 30px;
    width: 500px;
}
label {
    font-size: 20px;
}
#message {
    /*font-size: 16px;*/
    font-size: 1.7vw;
    transition: all 0.3s;
}
.table {
    display: table;
    margin: 50px auto;
    min-width: 85%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 10px;
}
.hcell {
    display: table-cell;
    color: #8090a1;
    font-weight: bold;
    border-bottom: 2px solid #8090a1;
    margin-bottom: 10px;
    padding: 10px;
}
.cell {
    transition: background 0.3s, color 0.3s;
}
.cell label {
    margin-right: 10px;
}
.cell input, .cell select {
    border-radius: 5px;
    width: 200px;
}
.row.selected .cell {
    color: white;
}
.time, .username {
    text-align: center;
}
.floatingHeader {
    position: fixed;
    top: 0;
    visibility: hidden;
}
.unlock {
    background: #0078ff;
    border-radius: 3px;
    color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.unlock:hover {
    background-color: #449d75;
}
.opt, .opt2 {
    /*transition: all 0.3s;*/
}
#loginForm {
    border-radius: 5px;
    font-family: 'Avenir Next Condensed', sans-serif;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 500px;
}
#loginForm label {
    display: block;
    font-weight: bold;
    margin: auto;
    opacity: 0.8;
    width: 215px;
}
#loginForm input {
    border-radius: 8px;
    color: #0078ff;
    display: block;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 5px auto 20px auto;
    padding: 10px;
    width: 220px;
}
#loginForm #loginButton {
    background: #0078ff;
    border-radius: 3px;
    color: #f2f2f2;
    cursor: pointer;
    margin: auto;
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s;
    width: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#loginForm #loginButton:hover {
    background: #449d75;
}
@media (max-width: 800px) {
    body {
        width: 100%;
    }
    .table {
        width: 90%;
    }
    h1 {
        font-size: 7vw;
    }
    #message {
        font-size: 2.5vw;
    }
    .opt {
        display: none;
    }
}
@media (max-width: 600px) {
    .opt2 {
        display: none;
    }
    #message {
        font-size: 4vw;
    }
}